// https://htmlcolorcodes.com/

$red: #943126;
$darkred: #7B241C;
$lighterred: #FADBD8;
$green: #27AE60;
$lightgreen: #ABEBC6;
$blue: #2471A3;
$lightblue: #85C1E9;
$lighterblue: #EBF5FB;
$black: #212F3D;
$white: #fff;
$yellow: #F4D03F;
$grey: #99A3A4;
$orange: #D35400;
$darkblue: #1A5276;
$purple: #6C3483;
